################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleIdentityServer.WWW/bin/Debug/net8.0
/SimpleIdentityServer.WWW/obj
